{% extends 'base.html' %}

{% block content %}
  <h2>Home</h2>

<h5>Your projects:</h5>
{% if projects_admin %}
    <table class='table table-striped'>
    {% for project in projects_admin %}
        <tr>
            <td><a href="{% url 'project_detail' project.id %}">{{ project }}</a></td>
            <td style='word-break:break-all'>{{project.description}}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No projects are available.</p>
{% endif %}
<a href="{% url 'project_new'%}">new project</a>
<br>
<br>

<h5>Projects you contribute to:</h5>
{% if projects_contribute %}
    <table class='table table-striped'>
    {% for project in projects_contribute %}
        <tr>
            <td><a href="{% url 'project_detail' project.id %}">{{ project }}</a></td>
            <td style='word-break:break-all'>{{project.description}}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No projects are available.</p>
{% endif %}
{% endblock %}
