{% extends 'base.html' %}

{% block title %}Project{% endblock %}

{% block content %}
<h2>{{ project.name }}</h2>
Owner: {{ project.admin }}

<p>{{ project.description }}</p>

<p><a href="{% url 'project_update' project.id %}">edit</a></p>

<div class='row'>
<div class='col-md-6'>
<h4>Functional requirements:</h4>
{% if functional_requirements %}
    <table class='table table-striped'>
    {% for requirement in functional_requirements %}
        <tr>
            <td><h6>{{ requirement }}</h6></td>
            <td>{{requirement.description}}</td>
            <td style='float:right'>
                <a href="{% url 'requirement_update' requirement.project.id requirement.id %}">edit</a><br>
                <a href={% url 'requirement_delete' requirement.project.id requirement.id %}>delete</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No functional requirements are available.</p>
{% endif %}
</div>
<div class='col-md-6'>
<h4>Non-functional requirements:</h4>
{% if non_functional_requirements %}
    <table class='table table-striped'>
    {% for requirement in non_functional_requirements %}
        <tr>
            <td><h6>{{ requirement }}</h6></td>
            <td>{{requirement.description}}</td>
            <td style='float:right'>
                <a href="{% url 'requirement_update' requirement.project.id requirement.id %}">edit</a><br>
                <a href={% url 'requirement_delete' requirement.project.id requirement.id %}>delete</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No non-functional requirements are available.</p>
{% endif %}
</div>
</div>
<p><a href="{% url 'requirement_new' project.id %}">new requirement</a></p>



<h4>Contributors:</h4>
{% if project.contributors.all %}
    <table class='table table-striped'>
    {% for contributor in project.contributors.all %}
        <tr>
            <td><h6>{{ contributor }}</h6></td>
            <td style='float:right'>
                <p><a href="{% url 'remove_contributor' project.id contributor.username %}">remove</a></p>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No contributing users.</p>
{% endif %}
<p><a href="{% url 'add_contributor' project.id %}">add contributor</a></p>

<br>
<a href="{% url 'project_delete' project.id %}">delete</a>

{% endblock %}
