{% extends 'base.html' %}

{% block title %}Project{% endblock %}

{% block content %}
{% load static %}
<link rel='stylesheet' type='text/css' href="{% static 'stylesheets/table.css' %}" />
<link rel='stylesheet' type='text/css' href="{% static 'stylesheets/project.css' %}" />

<div class="header">
<h1>{{ project.name }} </h1>
<p> Owner: {{ project.admin }}</p>
</div>

<h3>{{ project.description }}</h3>

<a href="{% url 'project_update' project.id %}">Edit</a> | <a href="{% url 'project_delete' project.id %}">Delete</a>

<hr>

<a href="{% url 'requirement_new' project.id %}" class="btn" style="margin-bottom: 10px;">New Requirement</a>

<br>

<div class='row'>
  <div class='col-md-6'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th colspan="3" class="table-header">
            Functional Requirements:
          </th>
        </tr>
        <tr>
          <th>Requirement</th>
          <th colspan="2">Description</th>
        </tr>
      </thead>
      <tbody>
        {% if functional_requirements %}
          {% for requirement in functional_requirements %}
            <tr>
              <td>{{ requirement }}</td>
              <td>{{requirement.description}}</td>

              <td class="btn-row">
                <a href="{% url 'requirement_update' requirement.project.id requirement.id %}">Edit</a>
                <a href="{% url 'requirement_delete' requirement.project.id requirement.id %}">Delete</a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="3">
              No functional requirements are available.
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class='col-md-6'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th colspan="3" class="table-header">
            Non-Functional Requirements:
          </th>
        </tr>
        <tr>
          <th>Requirement</th>
          <th colspan="2">Description</th>
        </tr>
      </thead>
      <tbody>
        {% if non_functional_requirements %}
          {% for requirement in non_functional_requirements %}
            <tr>
              <td>{{ requirement }}</td>
              <td>{{requirement.description}}</td>

              <td class="btn-row">
                <a href="{% url 'requirement_update' requirement.project.id requirement.id %}">
                  Edit
                </a>
                <a href="{% url 'requirement_delete' requirement.project.id requirement.id %}">
                  Delete
                </a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="3">
              No non-functional requirements are available.
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

<br>
<hr>
<br>

<table class='table table-striped'>
  <thead>
    <tr>
      <th class="table-header">
        Contributors:
      </th>
      <th class="btn-row">
        <a href="{% url 'add_contributor' project.id %}" class="btn">Add Contributor</a>
      </th>
    </tr>
    <tr>
      <th colspan="2">Name</th>
    </tr>
  </thead>
  <tbody>
    {% if project.contributors.all %}
      {% for contributor in project.contributors.all %}
        <tr>
          <td>{{ contributor }}</td>

          <td class="btn-row">
            <a href="{% url 'remove_contributor' project.id %}">Remove</a>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="2">
          No contributing users.
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>




{% endblock %}
