<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
  <!-- Latest compiled and minified CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel='stylesheet' type='text/css' href="{% static 'stylesheets/application.css' %}" />

  <title>{% block title %}Project Manager{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-default navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only navbar-color">Toggle navigation</span>
            <span class="icon-bar navbar-color"></span>
            <span class="icon-bar navbar-color"></span>
            <span class="icon-bar navbar-color"></span>
          </button>
          <a class="navbar-brand navbar-color-nohover" href="#">Project Maneger</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav">
            <li class="active"><span class="navbar-text navbar-color-nohover">Hi, {{ user.username }}!</span></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'home' %}" class="navbar-color">My Projects</a></li>
            <li><a href="{% url 'user_detail' %}" class="navbar-color dropdown-toggle">My Profile</a></li>      
            <li><a href="{% url 'logout' %}" class="navbar-color">Logout</a></li>
          </ul>
          {% else %}
          <ul class="nav navbar-nav">
            <li><span class="navbar-text navbar-color-nohover">Welcome!</span></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'login' %}" class="navbar-color">Login</a></li>
            <li><a href="{% url 'signup' %}" class="navbar-color">Sign Up</a></li>
          </ul>
          {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <main>
    <div class='container'>
    {% block content %}
    {% endblock %}
    </div>
  </main>
  <!--<hr>
  <footer class="navbar fixed-bottom">
    <p>MAC350: Projeto final</p>
  </footer>-->
</body>
</html>
