<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Project Manager{% endblock %}</title>
</head>
<body>
  <header>
    <h1>
      <a href="{% url 'home' %}">Project Manager</a>
    </h1>
    {% if user.is_authenticated %}
    <p>
      Hi, {{ user.username }}!
      <a href="{% url 'user_detail' %}">profile</a>
      <a href="{% url 'logout' %}">logout</a>
    </p>
    {% else %}
    <p>Welcome!</p>
    {% endif %}
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
  <footer>
    <p>MAC350: Projeto final</p>
  </footer>
</body>
</html>
