{% extends 'base.html' %}

{% block title %}Forum{% endblock %}

{% block content %}

<h2>Forum</h2>


  <form class='form' method='post'> {% csrf_token %}
  {% for field in form %}
  <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
      {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
      {% endfor %}
  </p>
  {% endfor %}
  <button type="submit">Save</button>
  </form>

{% endblock %}