{% extends 'base.html' %}

{% block title %}Project{% endblock %}

{% block content %}
<h1>{{ project.name }}</h1>

<p>Owner: {{ project.admin }}</p>

<p>Description: {{ project.description }}</p>

Functional requirements:
{% if functional_requirements %}
    <ul>
    {% for requirement in functional_requirements %}
        <li><a href="{% url 'requirement_detail' project.id requirement.id %}">{{ requirement }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No functional requirements are available.</p>
{% endif %}
Non-functional requirements:
{% if non_functional_requirements %}
    <ul>
    {% for requirement in non_functional_requirements %}
        <li><a href="{% url 'requirement_detail' project.id requirement.id %}">{{ requirement }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No non-functional requirements are available.</p>
{% endif %}
<p><a href="{% url 'requirement_new' project.id %}">new requirement</a></p>

Contributors:
{% if project.contributors.all %}
    <ul>
    {% for user in project.contributors.all %}
        <li>{{ user }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No contributing users.</p>
{% endif %}

{% if forums %}
    <ul>
    {% for forum in forums %}
        <li><a href="{% url 'forum_detail' project.id forum.id %}">{{ forum }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Forum available.</p>
{% endif %}
<p><a href="{% url 'forum_new' project.id %}">new forum</a></p>

<a href="{% url 'project_update' project.id %}">edit</a>
<a href="{% url 'project_delete' project.id %}">delete</a>

{% endblock %}
